<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.samsaz.thatresumeapp">

    <application
        android:name="com.samsaz.thatresumeapp.MyApplication"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".test.FragmentTestActivity" />
    </application>

</manifest>